@font-face {
  font-family: 'CherryBomb-Regular';
  font-style: normal;
  font-weight: 300;
  src: url(chrome-extension://__MSG_@@extension_id__/assets/fonts/CherryBomb-Regular.ttf) format('woff2');
}


body {
  font-family: 'CherryBomb-Regular', Arial, Helvetica, sans-serif;
  margin: 0;
  height: 512px;
  width: 512px;
}
/* UTILS */

.d-flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* LOADING */
div.loading > div {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.loading-kitty {
  transition-duration: 500ms;
}
